@charset "UTF-8";
/* defalt styleのリセット */
* { margin:0; padding:0; }
/* a要素の下線とリスト要素のマークカット */
a { text-decoration: none; }
ul, ol { list-style: none; }
/* スマホ向けの設定*/
img {max-width: 100%; }
h1 { font-size: 48px; line-height:1; }
h2 { font-size: 36px; line-height:1.3333; }
h3 { font-size: 24px; line-height:1; }
h4, h5, h6 {
  font-size: 16px; line-height:1.5;
}


header {
  text-align: center;
  padding-top:24px;
}

header h1 {
  margin-bottom: 24px;
}

header h2 {
  font-size: 16px;
  color: #62240b;
  line-height: 1.5;
}

nav ul li {
  width: 25%;
  float: left;
}

nav ul li a {
  display:block;
  padding: 12px 0;
  color: #d8c2a4;
}

nav ul {
  overflow:hidden;
}

nav ul li a:hover {
  color: white;
  background-color: #7d4934;
}

nav {
  margin-bottom: 24px;
  /* グラデーションがないブラウザ対応 */
  background-color: #7d4934;
  /* chomeでのグラデーション表示させるおまじない */
  /* linear-garadientが線形のグラデーション（下記は１色のみでの濃度調整してグラデーションをさせる書き方） */
  background: -webkit-linear-gradient(top, rgba(81,24,8,0.71) 0%,
    rgba(91,25,0,1) 100%);
  /* chome以外でのおまじない */
  background:linear-gradient(top, rgba(81,24,8,0.71) 0%,
    rgba(91,25,0,1) 100%)
  ;
}


/* 左右の余白を設定する */
#contents {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  line-height: 2;
}

#contents p {
  margin-bottom: 24px;
  text-align: left;
}

#contents img {
  margin-bottom: 24px;
  box-shadow: 0 0 12px #000;
  min-width: 100%;
}


/*レスポンシブル*/
@media screen and (min-width: 768px) {
  /* body { background-color: coral; } */
  #contnets { text-align: left; html {
    background: url(img/12col.jpg) repeat-y top center;
    }
  }
}

@media screen and (min-width: 1024px) {
  /* body { background-color: lime; } */

  /*グリッドデザイン
  html {
    background: url(img/12col.jpg) repeat-y top center;
  }*/

  #contents {
    width: 93.75%; /* 960 /1024 * 100 */
  }

  #main, #sub {
    margin:0 1.0416667%; /* 10 / 960 * 100 */
    float: left;
  }

  #main {
    width: 64.583333%; /* 620 / 960 * 100 */
  }
  #sub {
    width: 31.25%; /* 300 / 960 * 100 */
  }

  nav ul {
    width: 93.75%;
    margin: 0 auto;
  }

  footer {
    width: 93.75%;
    padding: 24px 0;
    margin: 0 auto;
    
    text-align:center;
    color:white;
    background-color:#7d4934;
    clear:both;
  }






}




